@import "./src/Variables.scss";


body {
  background-color:#444 !important;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url('../resources/background.png');
}

main{
  z-index: 0;
  height: 100%;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  text-align: center;
  white-space: nowrap;
}

.container {
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
  z-index: 2;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  margin-top:70px;
  margin-bottom:30px;
  margin-left: 10px;
  min-height: 500px;
  font-size: 15px;
  background-color: #555;
  color: $container-font-color;
  padding-bottom: 20px;
  border-radius:5px 5px 5px 5px;
	//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  width: 600px;
  max-width: 100%;
  white-space: normal;
  text-align: left;
}

.add_container{
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
  z-index: 2;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  margin-top:70px;
  margin-bottom:30px;
  margin-left: 10px;
  max-height: 400px;
  font-size: 15px;
  background-color: #555;
  color: $container-font-color;
  padding-bottom: 20px;
  border-radius:5px 5px 5px 5px;
	//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  width: 600px;
  max-width: 100%;
  white-space: normal;
  text-align: left;
}

.down_container {
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;
  z-index: 2;
  overflow-y: scroll;
  vertical-align: top;
  display: inline-block;
  margin-top:400px;
  margin-bottom:30px;
  margin-left: 10px;
  min-height: 500px;
  font-size: 15px;
  background-color: #555;
  color: $container-font-color;
  padding-bottom: 20px;
  border-radius:5px 5px 5px 5px;
	//box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
  width: 600px;
  max-width: 100%;
  white-space: normal;
  text-align: left;
}