$header-color: #575B5E;
$background-color: #84838a;
$container-color: #374248;
$container-font-color: #FFF;
$header-font-color:#DEEE43;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);
$gray-light: #a0b3b0;
$white: #ffffff;

$color0: #1ab188;
$color1: #ff8585;
$color2:#E8CAAF;
$color3: #9b9b9b;
$color4: #559CAB;
$color5: #B44E47;
$color6: #7A6282;
$color7: #90B237;
$color8: #C5B64C;
$color9: #5A81B7;
$color10: #406E6F;
$color11: #EA9A57;